# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
/media/
backend/staticfiles/

# Entorno virtual
venv/
env/
.env

# Node.js / React
frontend-react/node_modules/
frontend-react/dist/
frontend-react/.local