{% extends 'base.html' %}
{% load static %}

{% block title %}Contraseña Restablecida | MP Tech{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'inventario/css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-box" style="text-align: center;">
        <i class="bi bi-check-circle-fill" style="font-size: 3rem; color: var(--verde-precio); display: block; margin-bottom: 1rem;"></i>
        <h2 style="justify-content: center;">Contraseña Restablecida</h2>
        <p class="auth-desc">Tu contraseña ha sido cambiada exitosamente.</p>
        <p class="auth-link" style="margin-top: 1.5rem;"><a href="{% url 'inventario:iniciar_sesion' %}"><i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión</a></p>
    </div>
</div>
{% endblock %}
